<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Palliviske v천istlus</title>
</head>
<body>
    <h1>Palliviske v천istlused</h1>
    <hr>

    <h2>Lisa v천istleja visketulemus</h2>

    <form method="post">
        <label for="participantNumInput">Osaleja number</label>
        <input type="number" name="participantNumInput" id="participantNumInput" placeholder="123 ..." required>
        <br>

        <label for="dateInput">Viske kuup채ev</label>
        <input type="date" name="dateInput" id="dateInput" required>
        <br>

        <label for="throwDistanceInput">Viskekaugus (meetrites)</label>
        <input type="number" step="0.001" name="throwDistanceInput" id="throwDistanceInput"  required>
        <br>

        <input type="submit" name="throwSubmit" value="Salvesta">
    </form>
    <p><%= locals.notice || 'Ootel!' %></p>
    <hr>

</body>

</html>