<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Liisi Loomets, veebiprogrammeerimine 2023</title>

	<style>
		body {
			background-color:gainsboro;
		}
	</style>
</head>

<body>
	<img src="/banner/banner.png" alt="Veebiprogrammeerimise kursuse bänner">
	<h1>Liisi Loomets</h1>
	<p>See veebileht on valminud <a href="https://www.tlu.ee/" target="_blank">TLÜ</a> Digitehnoloogiate instituudi informaatika eriala õppetöö raames.</p>
	<hr>

	<h2>Minu tutvustus</h2>
	<p>Mina olen Tallinna Ülikooli Digitehnoloogiate instituudi õpilane.</p>
	<p>Mul on kodus kolm kassi ja üks koer.</p>
	<hr>
	<ul>
		<li><a href="/timenow">Aeg praegu</a></li>
		<li><a href="/wisdom">Vanasõnad</a></li>
		<li><a href="/names">Nimede list</a></li>
		<li><a href="/eestifilm">Eesti film</a></li>
	</ul>
	<hr>
</body>
</html>