<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Liisi Loomets, veebiprogrammeerimine 2023</title>

	<style>
		body {
			background-color:gainsboro;
		}
		a, a:visited {
			text-decoration: none;
		}

		a:hover, a:active {
			text-decoration: underline;
		}
	</style>
</head>

<body>
	<img src="/banner/banner.png" alt="Veebiprogrammeerimise kursuse b채nner">
	<h1><%= h1 %></h1>
	<ul>
		<!--Teeme ejs ts체kli, mis k채ib l채bi massiivi wisdom-->
		<% wisdom.forEach(function(sentence){ %>
			<li><%= sentence %></li>
		<% }); %>
	</ul>
	<hr>
	<ul>
		<li><a href="/">Avalehele</a></li>
	</ul>
	<hr>
</body>
</html>