<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Liisi Loomets, veebiprogrammeerimine 2023</title>

	<style>
		body {
			background-color:gainsboro;
		}
		div{
			height: 1000px;
			width: 40%;
		}
		.tekst{
			font-size: 18px;
			text-align: justify;
		}
		a, a:visited {
			text-decoration: none;
		}

		a:hover, a:active {
			text-decoration: underline;
		}
	</style>
</head>

<body>
	<img src="/banner/banner.png" alt="Veebiprogrammeerimise kursuse bänner">
	<h1>Uudised</h1>
	
	<hr>
	<ul>
        <li><a href="/news/read">Hiljutised uudised</a></li>
		<li><a href="/news">Uudiste avaleht</a></li>
		<li><a href="/">Avalehele</a></li>
	</ul>
	<hr>
	
	<h2><%= newsdata.title %></h2>
    <p>Lisatud: <%= newsdata.added %></p>
	<div>
    	<p class="tekst"><%= newsdata.content %></p>
	</div>
</body>
</html>